version: '3.9'

services:
  postgres:
    image: postgres:16
    container_name: postgres_service
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123456
      POSTGRES_DB: sugar_paws_store
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - backend_network

  redis:
    image: redis:7
    container_name: redis_service
    restart: always
    ports:
      - '6379:6379'
    volumes:
      - redis_data:/data
    networks:
      - backend_network

volumes:
  postgres_data:
  redis_data:

networks:
  backend_network:
    driver: bridge
